body {
  background: url(https://s3.amazonaws.com/followthepaddle-ago/Chattajack_2017_OPTOR.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}