body {
  background: url(https://s3.amazonaws.com/followthepaddle-ago/Operation+Heartland.png);
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: stretch;
  background-attachment: fixed;
}