body {
  font-family: 'Special Elite', cursive;
  text-align: center;
  line-height: 1.5;
  color: white;
  background: url(../images/OPPHXFromTrailer3.png);
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

  .headcontainer {
    width: 600px;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    margin-bottom: 30px;
    border-radius: 18px;
    padding-bottom: 2px;
  }

 .eventcontainers {
    width: 500px;
    margin: 0 auto;
  }

 .livecontainer {
    float: left;
    width: 150px;
    margin: 5px;
    background: rgba(0,0,0,0.3);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
  }

 .pastcontainer {
    float: left;
    width: 150px;
    margin: 5px;
    background: rgba(0,0,0,0.3);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
  }

 .futurecontainer {
    float: left;
    width: 150px;
    margin: 5px;
    background: rgba(0,0,0,0.3);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
  }

.twitter-container {
  margin-top: 200px;
}

h1 {
  font-size: 38px;
  margin-bottom: -36px;
  padding-top: 18px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  margin-bottom: 0 auto;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

p {
  font-size: 12px;
  margin: -2px;
  color: black;
}

a {
  font-size: 12px;
  color: #241789;
  text-decoration: none;
}